{{!-- Loop over each todo in the todos array --}}
{{#each todosData as |todo| }}
    <li>
        <div class="collapsible-header transparent plan-header">
            <i class="material-icons plan-chevron">chevron_right</i>
            {{todo.dataValues.title}}
            <a id="todoEdit-{{todo.dataValues.id}}" class="btn-floating btn-small todo-edit grey">
                <i class="material-icons">edit</i>
            </a>
            <a id="todoDelete-{{todo.dataValues.id}}" class="btn-floating btn-small todo-delete grey">
                <i class="material-icons">delete</i>
            </a>
        </div>
        <div class="collapsible-body">
            <h6>Event Details</h6>
            <p>{{todo.dataValues.description}}</p>
            {{#if todo.dataValues.due_date}}
                <p>Due Date: {{todo.dataValues.due_date}}</p>
            {{/if}}
            {{#if todo.dataValues.status}}
                <p>Status: {{todo.dataValues.todo}}</p>
            {{/if}}
        </div>
    </li>
{{/each}}