<header class="no-padding has-fixed-sidenav">
	{{> sideNav }}
</header>
<main class="no-padding has-fixed-sidenav">
	{{#if eventData}}
	<div class="navbar-fixed">
		<div class="container">
			<div class="row section">
				<div class="col s12">
					<div class="card teal">
						<div class="card-content white-text">
							<span class="card-title">
								{{eventData.dataValues.title}}
								{{#if eventData.dataValues.location}}
									<a class="btn-flat white-text">
										<i class="material-icons">location_on</i>
									</a>
								{{/if}}
								{{#if eventData.dataValues.url}}
									<a class="btn-flat white-text">
										<i class="material-icons">link</i>
									</a>
								{{/if}}
								<a class="btn-floating btn-small event-edit grey" data-id="{{eventData.dataValues.id}}" data-action="edit">
									<i class="material-icons">edit</i>
								</a>
								<a class="btn-floating btn-small event-delete grey" data-id="{{eventData.dataValues.id}}" data-action="delete">
									<i class="material-icons">delete</i>
								</a>
							</span>
							<h6>Event Details</h6>
							<p>{{eventData.dataValues.description}}</p>
							{{#if eventData.dataValues.type}}
								<p>Type: {{eventData.dataValues.type}}</p>
							{{/if}}
							{{#if eventData.dataValues.category}}
								<p>Category: {{eventData.dataValues.category}}</p>
							{{/if}}
							{{#if eventData.dataValues.start_date}}
								<p>Start Date: {{eventData.dataValues.start_date}}</p>
							{{/if}}
							{{#if eventData.dataValues.end_date}}
								<p>End Date: {{eventData.dataValues.end_date}}</p>
							{{/if}}
							
						</div>
					</div>
				</div>
			</div>
			<div class="row section">
				<div class="col s12">
					<div class="card blue">
						<div class="card-content white-text">
							<span class="card-title">
								Plans
								<a href='#newPlan' class="btn-floating btn-small plans-add grey modal-trigger" data-event-id="{{eventData.dataValues.id}}">
									<i class="material-icons">add</i>
								</a>
							</span>
							<ul class="collapsible z-depth-0 plan">
								{{> plansList }}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div class="navbar-fixed">
		<div class="container event-quickList">
			<h4>Select one of your events</h4>
			<ul>
				{{> eventsList }}
			</ul>
		</div>

	</div>
	{{/if}}

	{{!-- Add / Edit Plan Form --}}
	<div id='newPlan' class='modal card modal-card'>
		<div class='modal-content'>
			<h4>Create New Plan</h4>
			<p>Please complete the form below and click Create to begin planning an event</p>
			<form class="col s12 plan-form">
				<div class="row">
					<div class="input-field col s10 offset-s1">
						<input id="plan-title" type="text" class="validate">
						<label for="plan-title">Title</label>
					</div>
				</div>
			</form>
		</div>
		<div class='modal-footer'>
			<a class='modal-close btn-flat'>Cancel</a>
			<a id='plan-newSubmit' class='modal-close btn-flat'>Create</a>
		</div>
	</div>
</main>

<script src="/assets/scripts/dashboard.js"></script>
